<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Shop/shop.css" />
</head>
<body>

    <div class="left-side">
        @await Html.PartialAsync("_MainMenu")

    </div>
    <div class="right-side">
        <div class="top-right-split"></div>
        <div class="bottom-right-split">
            <h1>Witaj w swoim panelu Sklepu online!</h1>
        </div>
    </div>

</body>
</html>